* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: rgb(0, 46, 58);
    --second-color: rgb(4, 105, 131);
    --white-color: #fff;
    --grey-color: rgb(49, 49, 49);
}

body {
    background: var(--first-color);
    color: var(--white-color);
}

nav {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

nav h2 {
    font-size: 3rem;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video {
    max-width: 800px;
    min-width: 350px;
    width: 60%;
    min-height: 400px;
    margin-block: 20px;
    background: black;
}

.github-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.cntrl-btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.4em 1.4em;
    border: none;
    text-decoration: none;
    background: var(--first-color);
    color: var(--white-color);
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cntrl-btn:hover {
    background: var(--white-color);
    border-color: var(--first-color);
    color: var(--first-color);
}

.hidden {
    display: none;
}